{% extends "_base.html" %}

{% block container %}
Послдение найденые :
<table class="table">
  <thead>
    <tr>
      <th>Производитель</th>
      <th>CPU</th>
      <th>Камера</th>
      <th>ROM</th>
      <th>Экран</th>
      <th>Батарея</th>
      <th>Цена</th>
      
    </tr> 
  </thead>
  {% for phone in phones %}
  <tbody>

    <tr>
      <td>{{phone.manufacture}}</td>
      <td>{{phone.cpu}}</td>
      <td>{{phone.cam}}</td>
      <td>{{phone.rom}}</td>
      <td>{{phone.screen}}</td>
      <td>{{phone.battary}}</td>
      <td>{{phone.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	
{% endblock %}