{% extends "_base.html" %}

{% block content %}
	<div role="main" class="ui-content">
    <div id="mysliders">
      <label for="slider-1">Производитель:</label>
      <input class="add" type="range" name="slider-1" id="slider-1" min="0" max="10" value="5" />
      <label for="slider-2">Экран:</label>
      <input class="add" type="range" name="slider-2" id="slider-2" min="0" max="10" value="5" />
      <label for="slider-3">CPU:</label>
      <input class="add" type="range" name="slider-3" id="slider-3" min="0" max="10" value="5" />
      <label for="slider-4">ROM:</label>
      <input class="add" type="range" name="slider-4" id="slider-4" min="0" max="10" value="5" />
      <label for="slider-5">Камера:</label>
      <input class="add" type="range" name="slider-5" id="slider-5" min="0" max="10" value="5" />
      <label for="slider-6">Батарея:</label>
      <input class="add" type="range" name="slider-6" id="slider-6" min="0" max="10" value="5" />
      <label for="slider-7">Цена:</label>
      <input class="add" type="range" name="slider-7" id="slider-7" min="0" max="10" value="5" />
    </div>
    <hr />
    <p>Total: <strong id="total"></strong></p>
  </div>
  </div>

  <!--<div class="product">-->
  {% for phone in phones %}
  <div class='product'>
  	Производитель:
	{{phone.manufacture}}
	<span id="span" class="hidden">{{phone.manufacture.get_manufacture_coeff}}</span>
	Экран: 
	{{phone.screen}}
	<span id="span" class="hidden">{{phone.screen.get_screen_coefficient}}</span>
	Процессор:
	{{phone.cpu}}
	<span id='span' class='hidden'>{{phone.cpu.get_cpu_coefficient}}</span>
	Память:
	{{phone.rom}}
	<span id='span' class='hidden'>{{phone.rom.get_rom_coefficient}}</span>
	Камера:
	{{phone.cam}}
	<span id='span' class='hidden'>{{phone.cam.get_cam_coefficient}}</span>
	Батарея:
	{{phone.battary}}
	<span id='span' class='hidden'>{{phone.battary.get_battary_coefficient}}</span>
	Цена: 
	{{phone.price}}
	<span id='span' class='hidden'>{{phone.price.get_price_coefficient}}</span>
  </div>	
  {% endfor %}
 
{% endblock %}
